<md-content class="md-padding">
    <div id="name-cv">
        <div layout="row" layout-align="center center">
            <h1 class="md-display-1">Simon Jespersen</h1>
        </div>
        <div layout="row" layout-align="center center">
           Master student @ UiO
        </div>
    </div>
    <div id="contact-list">
            <md-button class="md-fab" aria-label="linkedin" href="https://no.linkedin.com/in/simjes" target="_blank"> 
                <md-icon md-svg-src="img/contact/in.svg"></md-icon>
            </md-button>
            <md-button class="md-fab" aria-label="github" href="https://github.com/simjes" target="_blank">
                <md-icon md-svg-src="img/contact/github.svg"></md-icon>
            </md-button>
            <md-button class="md-fab" aria-label="google play" href="https://play.google.com/store/apps/developer?id=Simjes" target="_blank">
                <md-icon md-svg-src="img/contact/android.svg"></md-icon>
            </md-button>
            <md-button class="md-fab" aria-label="mail" href="mailto:simjes91@me.com">
                <md-icon md-svg-src="img/contact/mail.svg"></md-icon>
            </md-button>
    </div>
</md-content>