$primary-color: #FFFFFF;
$secondary-color: #eeeeee;
$third-color: #f36e2a;
$primary-text-color: #000000;
$secondary-text-color: #FFFFFF;

$hairline-color: #B6B6B6;

body {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: $primary-color;
  color: $primary-text-color;
}

.navbar-config {
  background-color: $third-color;
  text-align: center;
  padding: 15px;
}

.btn-config {
  background-color: $secondary-color;
  color: $primary-text-color;
}

.circle-align {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .circle-align {
    float: right;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

footer {
  padding-top: 10px;
  text-align: center;
  background-color: $secondary-color;

  p {
    color: $primary-text-color;
  }

  a:link,
  a:visited,
  a:hover,
  a:active  {
    color: $primary-text-color;
  }
}

a.navbar-brand:link,
a.navbar-brand:visited,
a.navbar-brand:hover,
a.navbar-brand:active{
  color: $secondary-text-color;
}

hr {
  border-color: $hairline-color;
  background-color: $hairline-color;
  color: $hairline-color;
}

#jumbo-custom {
  padding: 30px 0;
  color: $primary-text-color;
  background-color: $secondary-color;
}

#jumbo-txt {
  text-align: center;
  font-size: 3em;
}

.project-box {
  margin-top: 10px;
}

















