body {
	padding-top: 50px;
	padding-bottom: 30px;
}

.navbar-green {
  background-color: #388E3C;
}

.btn-green {
	background-color:#C8E6C9;
}

.circle-align {
	float: left;
	margin-right: 20px;
	margin-top: 50px;
	margin-bottom: 10px;
}

footer {
	padding-top: 10px;
	text-align: center;
	color: #212121;
	background-color: #1B5E20;
}

footer p {
	color: #FFFFFF;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active  {
    color: #FFFFFF;
}

a.navbar-brand:link,
a.navbar-brand:visited,
a.navbar-brand:hover,
a.navbar-brand:active{
	color: #FFFFFF;
}

.row div {
	padding-bottom: 20px;
}

hr {
	border-color: #B6B6B6;
	background-color: #B6B6B6;
	color: #B6B6B6;
}