body {
    padding-top: 50px;
    padding-bottom: 30px;
}


.navbar-green {
    background-color: #388E3C;
    text-align: center;
    padding: 15px;
}


.btn-green {
    background-color:#C8E6C9;
}


.circle-align {
    display: block;
    margin-left: auto;
    margin-right: auto;
}	


@media (min-width: 768px) {
    .circle-align {
        float: right;
        margin-top: 50px;
        margin-bottom: 10px;
    }	
}

footer {
    padding-top: 10px;
    text-align: center;
    color: #212121;
    background-color: #1B5E20;
}

footer p {
    color: #FFFFFF;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active  {
    color: #FFFFFF;
}

a.navbar-brand:link,
a.navbar-brand:visited,
a.navbar-brand:hover,
a.navbar-brand:active{
    color: #FFFFFF;
}

.row div {
    //padding-bottom: 20px;
} 

.project-space {
    padding-bottom: 20px;
}


.row-space {
    padding-bottom: 50px;
}

hr {
    border-color: #B6B6B6;
    background-color: #B6B6B6;
    color: #B6B6B6;
}

#jumbo-custom {
    padding: 30px 15px;
    margin-bottom: 30px;
    color: #FFFFFF;
    background-color: #4CAF50;
}

#jumbo-txt {
    text-align: center;
    font-size: 3em;
}

h3 {
   text-align: center;
   text-decoration: underline;
}
