<div ng-init="getContent()">
    <div class="row row-space">
        <h3>Current projects</h3>
        <div class="project-space" ng-repeat="project in projects.currentProjects">
            <project-info project="project"></project-info>
        </div>
    </div>
    <div class="row row-space">
        <h3>Old projects</h3>
        <div class="project-space" ng-repeat="project in projects.oldProjects">
            <project-info project="project"></project-info>
        </div>
    </div>
</div>

