<div ng-init="getContent()" ng-repeat="oldProject in projects.oldProjects">
    <div class="col-sm-12 col-md-4">
        <div class="col-xs-12 col-sm-4">
            <img class="img-circle circle-align" src="{{oldProject.img}}" alt="icon" width="100" height="100">
        </div>
        <div class="col-xs-12 col-sm-8">
            <h2>{{oldProject.title}}</h2>
            <p>{{oldProject.descr}}</p>
            <p><a class="btn btn-default btn-green" href="{{oldProject.link}}" role="button">Source code &raquo;</a></p>
        </div>
        <div class="visible-xs-inline col-xs-12"><hr></div>
    </div>
</div>

